<h1>Please edit the scorecard </h2>
<form action="/games/<%=@game.id%>" method="POST">
  <h3>HomeTeam!</h3>
  <select name="hometeam">
    <%Team.all.each do |team|%>
    <option value="<%=team.name%>"><%=team.name%></option>
    <%end%>

  </select>
  <h3>AwayTeam!</h3>
  <select name="awayteam">
    <%Team.all.each do |team|%>
    <option value="<%=team.name%>"><%=team.name%></option>
    <%end%>
  </select>

  <h3>Which team won the toss!</h3>
  <select name="toss">
    <%Team.all.each do |team|%>
    <option value="<%=team.name%>"><%=team.name%></option>
    <%end%>
  </select>
  <br><br>
<h2><%=Team.find(Player.find(@scores_1[0].player_id).team_id).name%></h2>
<table>
  <tr>
    <th>Batsman Name</th>
    <th>Runs scored</th>
  </tr>
<% @scores_1.each do |score| %>
  <tr>
    <td><label><%=Player.find(score.player_id).name%></label></td>
    <td><input style="background-color:powderblue;"  id="<%=score.player_id %>" type="number" name="players_1[<%=score.player_id%>]" value="<%=score.run%>" > </td>
    <% end %><br></br>
    <tr>
      <th>Extras</th>
      <th><input style="background-color:grey;" id="extras_1" value="<%=@game.extra_1%>" type="number" name="extras_1" ></input></th>
    </tr>
    <tr>
      <th>Total</th>
      <th><input style="background-color:pink;" id="total_1" value="<%=@game.total_1%>" type="number" name="total_1"></input></th>
    </tr>
  </table><br></br>

<h2><%=Team.find(Player.find(@scores_2[0].player_id).team_id).name%></h2>

  <table>
  <tr>
    <th>Batsman Name</th>
    <th>Runs scored</th>
  </tr>
<% @scores_2.each do |score| %>
  <tr>
    <td><label><%=Player.find(score.player_id).name%></label></td>
    <td><input style="background-color:powderblue;" value="<%=score.run%>" id="<%= score.player_id%>" type="number" name="players_2[<%=score.player_id%>]"></td>
    <% end %><br></br>
    <tr>
      <th>Extras</th>
      <th><input style="background-color:grey;" id="extras_2" value="<%=@game.extra_2%>" type="number" name="extras_2"></input></th>
    </tr>
    <tr>
      <th>Total</th>
      <th><input style="background-color:pink;"  id="total_2" value="<%=@game.total_2%>" type="number" name="total_2"></input></th>
    </tr>
  </table><br></br>

  <h3>Which team won the game!</h3>
  <select name="result">
  <%Team.all.each do |team|%>
  <option value="<%=team.name%>"><%=team.name%></option>
  <%end%>
</select><br></br>

<input type="submit" value="Update Scorecard!"></input>

</form>
