<h2><a href="/teamselection">Add a new game<a/></h2>
  <h2><a href="/teams/new">Add a new team<a/></h2><br>
<h2><a href="/players/new">Add a new Player<a/></h2><br>
<h2>Scorecards!</h2>

<%@game_reverse_order = Game.all.reverse%>
<%@game_reverse_order.each do |game| %>
<h3><a href="games/<%=game.id%>"><%=game.hometeam%> VS <%=game.awayteam%> and won by <%=game.result%></h3></a>
<%end%>

<h2><%=current_user.name%> games!</h2>

<%@game_current_user = current_user.games.reverse%>
<%@game_current_user.each do |game| %>
<h3><a href="games/<%=game.id%>"><%=game.hometeam%> VS <%=game.awayteam%> and won by <%=game.result%></h3></a>
<%end%>

<% if flash.has?(:messages) %>
<p><font color="red"><%=flash[:messages]%></font></p>
<%end%>


<a href="/logout">Logout</a>
