<h1>Please enter the runs each player scored in the game </h2>
<form action="/games" method="POST">
  <h2>Team batting first!</h2>
  <table>
  <tr>
    <th>Batsman Name</th>
    <th>Runs scored</th>
  </tr>
<% @players_1.each do |player| %>
  <tr>
    <td><label><%=player.name%></label></td>
    <td><input style="background-color:powderblue; value="<%= player.id %>" id="<%= player.name %>" type="number" name="players[<%=player.name%>]"></td>
    <% end %><br></br>
    <tr>
      <th>Extras</th>
      <th><input style="background-color:grey; id="extras_1" type="number" name="extras_1"></input></th>
    </tr>
    <tr>
      <th>Total</th>
      <th><input style="background-color:pink; id="total_1" type="number" name="total_1"></input></th>
    </tr>
  </table><br></br>

  <h2>Team batting Second!</h2>
  <table>
  <tr>
    <th>Batsman Name</th>
    <th>Runs scored</th>
  </tr>
<% @players_2.each do |player| %>
  <tr>
    <td><label><%=player.name%></label></td>
    <td><input style="background-color:powderblue; value="<%= player.id %>" id="<%= player.name %>" type="number" name="players[<%=player.name%>]"></td>
    <% end %><br></br>
    <tr>
      <th>Extras</th>
      <th><input style="background-color:grey; id="extras_2" type="number" name="extras_2"></input></th>
    </tr>
    <tr>
      <th>Total</th>
      <th><input style="background-color:pink;  id="total_2" type="number" name="total_2"></input></th>
    </tr>
  </table><br></br>

<input type="submit" value="Post Scorecard!"></input>

</form>
