<form action="/games/new" method="POST">
  <h2 ><%=@team_1.name %><br></br></h2>
  <input type="hidden" name="team_1" value="<%=@team_1.name%>"></input>
  <table>
  <tr>
    <th >Player Name</th>
    <th >Select</th>
  </tr>
    <% @team_1.players.each do |player| %>
    <tr>
      <th><%=player.name%></th>
      <th><input id="<%= player.name %>" type="checkbox" name="players_1[]" value="<%= player.id %>"></th>
    </tr>
    <% end %>
  </table><br></br>
    <h2><%=@team_2.name %><br></br></h2>
    <input type="hidden" name="team_2" value="<%=@team_2.name%>"></input>
    <table>
    <tr>
      <th>Player Name</th>
      <th>Select</th>
    </tr>
      <% @team_2.players.each do |player| %>
      <tr>
        <th><%=player.name%></th>
        <th><input id="<%= player.name %>" type="checkbox" name="players_2[]" value="<%= player.id %>"></th>
      </tr>
      <% end %>
    </table><br>
<input type="submit" value="Submit Teams"></input>
</form>
<% if flash.has?(:messages) %>
<p><font color="red"><%=flash[:messages]%></font></p>
<%end%>
